/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* VARIABLES */

:root {
  /* COLORS */
  --clr-white: hsl(-11, 0%, 100%);
  --clr-light-gray: hsl(212, 45%, 89%);
  --clr-grayish-blue: hsl(220, 15%, 55%);
  --clr-dark-blue: hsl(218, 44%, 22%);
  --primary-font: 'Outfit', sans-serif;
	--fw-400: 400;
	--fw-700: 700;
}
/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL STYLES */

body {
	background: var(--clr-light-gray);
}

/* CLASS STYLES */

/* ATTRIBUTION STYLES */

.attribution {
	position: absolute;
	bottom: 2%;
	left: 50%;
	transform: translateX(-50%);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
